
.card-header {
    border : none;
}
.card-title {
    font-size : 16px;
    color     : #777;
}
/*mail tiles sales, visits etc*/
.card-box {
    padding               : 21px 16px 30px;
    border                : 1px solid rgba(54, 64, 74, 0.12);
    -webkit-border-radius : 3px;
    border-radius         : 3px;
    -moz-border-radius    : 5px;
    background-clip       : padding-box;
    margin-bottom         : 25px;
    background-color      : #ffffff;
    color                 : #777;
}
.widget-bg-color-icon .bg-icon {
    height                : 80px;
    width                 : 80px;
    text-align            : center;
    -webkit-border-radius : 50%;
    border-radius         : 50%;
    -moz-border-radius    : 50%;
    background-clip       : padding-box;
}
.widget-bg-color-icon .bg-icon i {
    font-size   : 34px;
    line-height : 65px;
}
.widget-bg-color-icon h3 {
    margin-top : 9px;
}
.widget-bg-color-icon p {
    margin : 0;
}
/*sales chart*/
#sales_chart {
    height : 300px;
    width  : 100%;
}
.morris-hover.morris-default-style .morris-hover-point {
    color : #555 !important;
}
/*timeline widget*/
.widget-timeline {
    color : #555;
}
.widget-timeline ul {
    padding-left : 0;
}
.widget-timeline ul li {
    padding : 18px 3px;
}
.widget-timeline img {
    width         : 39px;
    height        : 39px;
    border-radius : 50%;
}
.widget-timeline .timeline {
    padding-left : 51px;
}
/*table*/
.product-details .panel-body {
    padding-bottom : 0;
}
#product-details tbody > tr > td {
    padding : 13px;
}
#product-details tbody > tr > td:last-child {
    width : 160px;
}
#product_status canvas {
    margin-bottom : -2px;
}
.update_btn{
    margin-top:-8px;
}
/************* lobibox css ***************/
.lobibox-notify-wrapper.right{
    z-index: 9999999;
}
.lobibox-notify{
    box-shadow: -8px 6px 20px 2px #aaa;
    width: 460px !important;
    height: 115px;
    border-radius:10px;
}
.lobibox-notify-msg{
    font-size: 14px;
    margin-left: 30px;
}
.lobibox-notify .lobibox-notify-title{
    font-size: 18px;
    margin-left: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.lobibox-notify .lobibox-notify-body{
    margin: 20px 20px 10px 125px;
}
.lobibox-notify-msg{
    margin-top: 8px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.lobibox-notify-body{
    border-left: 2px solid #fff;
}
.lobibox-notify-icon img{
    margin-left: 15px;
}
.lobibox-notify.lobibox-notify-info{
    background: linear-gradient(to bottom right, #12b1ec,#1FC0C0);
    border-color: transparent;
}
